
.. raw:: pdf

    Spacer 0,175

<?py if title: ?>

.. class:: document-title

#{title}

<?py #end ?>

.. raw:: pdf

    Spacer 0,20

.. class:: document-subtitle

  Hands-on Lab Guide

.. raw:: pdf

    Spacer 0,278

.. image:: quamotion-logo.png
   :align: right
   :width: 40%

.. raw:: pdf

   PageBreak
   Spacer 0,590

.. |copy|   unicode:: U+000A9 .. COPYRIGHT SIGN

This document is provided "as-is". Information and views expressed in this document may change without notice.
You bear the risk of using it.

This document does not provide you with any legal rights ot any intellectual property in any Quamotion
product. You may copy and use this document for your internal, reference purposes.

Copyright |copy| 2016 Quamotion bvba. All rights reserved.