@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
  font-family: Open Sans;
}

.navbar-default {
  background-color: #e06e50;
  background-image: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-text, .navbar-default .navbar-text:hover {
  color: white;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {
  color: white;
}

h1 {
    color: #838383;
    font-size: 20pt;
    font-weight: 400;
}

h2 {
  color: #fb784d;
  font-size: 14pt;
  line-height: 26px;
}

p, ul, ol {
  font-size: 10pt;
  line-height: 26px;
  font-weight: 400;
}

a.headerlink {
  color: #e06e50;
}