@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
  font-family: Open Sans;
}

.navbar-default {
  background-color: #e06e50;
  background-image: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .navbar-text, .navbar-default .navbar-text:hover {
  color: white;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {
  color: white;
}

h1 {
    color: #838383;
    font-size: 20pt;
    font-weight: 400;
}

h2 {
  color: #fb784d;
  font-size: 14pt;
  line-height: 26px;
}

h3 {
  color: #fb784d;
  font-size: 12pt;
}

p, ul, ol {
  font-size: 10pt;
  line-height: 26px;
  font-weight: 400;
}

a.headerlink {
  color: #e06e50;
}

li.current, a.current {
  font-weight: bold;
}

.bs-sidenav .nav > li > a,
.bs-sidenav .nav .nav > li > a,
.bs-sidenav .nav .nav .nav > li > a,
.bs-sidenav .nav .nav .nav .nav > li > a {
  font-size: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 20px;
}

#qm-social {
  padding-top: 31px;
  text-align: right;
}

.fb-like.fb_iframe_widget {
    vertical-align: top;
}